.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width:100%
}
.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}