.cart-container{
    width: 100%;
    /* min-width: 300px; */
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    margin-top: 80px;
}
.cart-container-items{
    padding: 10px;

}
.cart-empty-container{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart-empty{
    width: 400px;
    max-width: 70%;
    background-color: rgb(231, 236, 236);
    padding: 20px;
    margin:15px;
    min-height: 60px;
    border-color: rgb(247, 176, 95);
    border-width: 2px;
    border-style: dashed;

}
.cart-empty:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}
.link{
    color: rgb(238, 155, 60);
    transition: all 0.3s;
}
.link :hover{
    color:  rgb(252, 191, 122);
}
.cart-container-total{
    display: flex;
    justify-content: flex-start;
    /* min-width: 250px; */
    max-width: 600px;
    /* height: 600px; */
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    /* border-left-color: rgb(247, 176, 95);
    border-left-width: 2px;
    border-left-style: solid; */
    align-self: flex-start;
}
.cart-total{
    /* width: 100%; */
    min-width: 300px;
    background-color: rgb(237, 241, 241);
    padding: 20px;
    margin:15px;
    min-height: 60px;
    border-color: rgb(247, 176, 95);
    border-width: 1px;
    border-style: solid;
}
.cart-total > p{
    width: 90%;
}
.cart-total > button {
  background-color: rgb(238, 155, 60);
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  border-radius: 3px;
  padding: 6px;
  margin-top: 40px;
  transition: all 0.3s;
  /* transition: ; */
}
.cart-total > button:hover{
    color: cornsilk;
    cursor: pointer;
}
.cart-total  i{
    color: rgb(230, 141, 40);
}
@media (max-width : 1080px){
    .cart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart-container-total{
        margin: unset;
        margin: 30px auto;
        justify-content: center;
    /* border-top-color: rgb(247, 176, 95);
    border-top-width: 2px;
    border-left-style: none;
    border-top-style: solid; */
    /* align-self: center; */
    }
    .cart-total{
        min-width: 250px;
    }
}
@media (max-width : 400px){
    .cart-empty-container{
        height: 500px;
    }
}