.categories{
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-end; */
    background-color: rgb(40, 67, 105);
    color: blanchedalmond;
    padding: 10px;
}
.category-link{
    margin-top: 0;
    text-decoration: none;
    color: blanchedalmond;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.3s;
}
.category{
        margin-bottom: auto;
}
.category-link:hover{
    color: rgb(218, 124, 16);
    /* background-color: rgb(12, 46, 73); */
    border: none;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    border-bottom-color: rgb(218, 124, 16);
    cursor: pointer;
}
.active-link{
    color: rgb(218, 124, 16);
    /* background-color: rgb(12, 46, 73); */
    border: none;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    border-bottom-color: rgb(218, 124, 16);
}