/* Layout *****************/

nav{
    width: 100%;
    color: blanchedalmond;
    background-color: black;
    /* padding : 5px; */
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}
nav > div{
    width: 45%;
    display: flex;
    justify-content: space-around;
}
form{
    border-radius: 3px;
    display: flex;
    /* flex: 1; */
    min-width: 220px; 
    height: 35px;
    width: 70%;
    /* justify-items: flex-end; */
    margin-left: 30px;
    /* align-items: center; */
    /* font-size: small; */
    background-color: rgb(218, 124, 16);
    /* text-align: center; */
    /* border-width: 1px;
    border-color: black; */
}
form > i{
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: fill; */
    /* padding: 0; */
    width: 70px;
    /* padding-top: 4px; */
    /* padding: auto; */
    color: black;
}
form > i:hover{
    cursor: pointer;
    color: blanchedalmond;
}

input{
    /* min-width: 160px; */
    /* color: black; */
    font-size: large;
    /* border-radius: 3px; */
    border: none;
    background-color: rgb(241, 234, 222);
    margin: 1px;
    /* height: fill; */
    /* border-radius: 0; */
    width: 100%;
}

input:focus{
    outline: rgb(8, 235, 235);
    outline-style: solid;
    outline-width: 1px;
    /* outline-offset: 2px; */
    /* border-radius: 5px; */
    /* border-style: solid;
    border-width: 4px;
    border-color: cadetblue;
    border-right-width: 0px; */
}
ul{
    width: 55%;
    padding-right: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
/* Typography *****************************/
div > i{
    min-width: 90px;
    margin-left: 20px;
    display: block;
    font-size: large;
    color: rgb(243, 158, 61);
}

li{
    margin: auto 10px;
}

/* Responsive -------------------------------------*/
@media (max-width: 680px){
    nav{
        width: 100%;
        flex-direction: column;
    }
    nav > div{
        width: 100%;
        align-content: space-around;
        margin-right: 40px;
    }
    ul{
        width: 100%;
        padding-left: 90px;
        margin-top: 10px;
        justify-content: flex-start;
    }
    ul :last-child{
        margin-left: auto;
        margin-right: 30px;
    }
}