.App {
  margin-top: 55px;
  width: 100%;
  text-align: center;
}
.Navbar{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}
.Categories , .Cart, .ordr{
  /* height: 39px; */
  /* width: 100%;
  margin-top: 55px; */
  
}

.banner{
  /* margin-top: 40px; */
  width: 100%;
  margin-bottom: 30px;
}
.banner > img{
  width: 100%;
  /* mask-image: linear-gradient(rgb(161, 167, 168),transparent); */
  z-index: 1;
}


@media (max-width: 817px){
  .App{
    margin-top: 55px;
  }
}
@media (max-width: 681px){
  .App{
    margin-top: 96px;
  }
}
/* @media (min-width: 485px) and (max-width: 498px){
  .App{
    margin-top: 96px;
  }
} */

